/*==========  Desktop First Method  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1199px) {
  body {
    font-size: 0.8em;
  }
  .f-social__link {
    width: 47px;
    height: 38px;
  }
  .f-social__link .fa {
    font-size: 25px;
    line-height: 38px;
  }
  .advantages__right-news-row-1,
  .advantages__right-news-row-2,
  .advantages__right-news-row-3 {
    display: block;
    width: 100%;
    margin-left: 0;
    padding-left: 22px;
    margin-bottom: 2px;
  }
  .contact__item-b {
    margin-top: -2px;
  }
  /**/
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 991px) {
  body {
    font-size: 0.6em;
  }
  .advantages__left-accordion-link {
    padding-top: 23px;
  }
  .logo {
    text-align: center;
    margin-bottom: 0;
  }
  .lumber-block {
    min-height: auto !important;
    padding-bottom: 20px;
  }
  .lumber {
    padding-top: 50px;
  }
  .sales-leader__wrapper {
    padding: 20px 0;
  }
  .sales-leader__button-wrapper {
    padding-top: 20px;
  }
  .footer-home__about-us,
  .footer-home__customers,
  .footer-home__useful {
    text-align: center;
  }
  .about-us__title,
  .customers__title,
  .useful__title {
    text-align: center;
  }
  .about-us__title::after,
  .customers__title::after,
  .useful__title::after {
    left: 50%;
    margin-left: -68.5px;
  }
  .about-us__item,
  .customers__item,
  .useful__item {
    display: block;
  }
  .about-us__link,
  .customers__link,
  .useful__link {
    display: inline-block;
  }
  .about-us,
  .customers,
  .useful {
    width: 137px;
    margin: 0 auto;
    text-align: left;
    padding-bottom: 30px;
  }
  .advantages-block {
    padding: 20px 0 !important;
  }
  .advantages__right-title {
    margin-bottom: 20px;
  }
  .advantages__left-title {
    margin-bottom: 6px;
  }
  .header .nav {
    text-align: center;
    padding-bottom: 10px;
    padding-top: 0;
  }
  .header .nav__item {
    display: inline-block;
    float: none;
    margin: 0 6px;
  }
  .article-new__form {
    padding-bottom: 20px;
  }
  .last-news {
    padding-bottom: 20px;
  }
  .banners__item {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
  .contact__wp,
  .pagination__wrapper,
  .pokupatelam__dos {
    padding-bottom: 20px;
  }
  .contact__item-b {
    margin-top: 0;
  }
  .contact__first {
    float: left;
  }
  .contact__last {
    float: right;
  }
  .p-pagination {
    margin-bottom: 20px;
  }
  .vacancies-cont__item {
    text-align: center;
  }
  .vacancies-cont__item-wp {
    float: none;
    width: 70px;
    margin: 0 auto;
  }
  .vacancies-cont__item-title {
    float: none;
    display: inline-block;
    margin-top: 10px;
  }
  .vacancies-cont__item-row {
    float: none;
    display: inline-block;
  }
  .vacancies-cont__item-row-item {
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .vacancies-cont__top {
    margin-bottom: 20px;
  }
  .products-cont__block,
  .vacancies-cont__block,
  .about__block,
  .f-products-cont__block,
  .contact__block,
  .article-new__block,
  .pokupatelam__block,
  .news-cont__block {
    padding: 20px 0;
  }
  /**/
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .article-new__comments-item {
    padding: 22px 44px;
  }
  .article-new__form-name {
    width: 100%;
  }
  .about__top-img {
    width: 100% !important;
    float: none;
    margin-left: 0;
    margin-right: 0;
    height: 100%;
  }
  .mode {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .nav-home {
    height: 100%;
    position: static;
    padding-left: 0;
    float: none;
    width: 100%;
  }
  .nav-home__item {
    width: 100%;
    line-height: 100%;
    margin-left: 0;
    text-align: center;
    padding: 0;
    float: none;
  }
  .nav-home__item .nav-home__link {
    border: none;
  }
  .nav-home__item:hover {
    background-color: #2a650a;
  }
  .nav-home__item .nav-home__link-active {
    background-color: #2a650a;
  }
  .nav-home__item-last {
    display: block;
    float: none;
    width: 100%;
    text-align: center;
    height: 100%;
    margin: 0;
    border-left: none;
  }
  .nav-home__item-last a {
    display: inline-block;
    float: none;
  }
  .row-first {
    background-color: #377217;
  }
  .sales-leader__tov-img {
    width: auto;
  }
  .slide__name {
    padding-left: 0;
    padding-right: 0;
  }
  .pagination__item {
    width: 38px;
  }
  .pagination {
    line-height: 41px;
    height: 41px;
  }
  .prod-card__item {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
  /**/
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .article-new__item-row-tags {
    display: block;
    float: none;
    width: 50%;
    margin: 0 auto;
  }
  .feed__item-row-soc {
    display: block;
    float: none;
    text-align: center;
  }
  .article-new__comments-item {
    padding: 10px 20px;
  }
  .feed__dc {
    display: none;
  }
  .banners__item {
    width: 100%;
  }
  .sales-leader__tov-img {
    width: 100%;
    display: block;
  }
  .contact__first {
    float: none;
    text-align: center;
  }
  .contact__last {
    float: none;
    text-align: center;
  }
  .feed__item-row-soc {
    width: 100%;
    float: none;
    display: block;
  }
  .feed__item-row {
    line-height: 100%;
    text-align: center;
  }
  .feed__item-row-button {
    float: none;
    display: inline-block;
    margin-bottom: 20px;
  }
  .pokupatelam__bg-img {
    width: 100%;
    display: block;
  }
  .pokupatelam__bg-title {
    width: 100%;
  }
  .pokupatelam__bg-par {
    width: 100%;
  }
  .prod-card__item {
    width: 100%;
  }
  /**/
}

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  /**/
}

/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  /**/
}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  /**/
}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  /**/
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  /**/
}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  /**/
}
